@inject IVacationService service

@using Web.Services.Interfaces
@using Core.Data.Enums
@model Core.Data.Entities.User 

@{
    ViewData["Title"] = "Профил";
}

<body class="bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 py-5">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <img src="/images/profilePicture.svg" alt="..." width="130" class="rounded-circle mb-2 img-thumbnail">
                        <h3 class="card-title mb-1">
                            <span class="bg-primary text-white px-3 py-2 rounded-pill">@Model.FirstName @Model.LastName</span>
                        </h3>
                        <div class="card-text">
                            <p class="normal-text">Потребителско име: @Model.UserName</p>
                            @if (Model.Team is not null)
                            {
                                <p class="normal-text">Екип: @Model.Team.Name</p>
                            }
                            <p class="normal-text">Роля: @Model.Role.Name</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 py-5">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title">Отпуски</h4>
                        @if (service.GetVacations().Where(x => x.Applicant == Model).Any())
                        {
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>От дата</th>
                                            <th>До дата</th>
                                            <th>Статус</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var vacation in service.GetVacations().Where(x => x.Applicant == Model))
                                        {
                                            <tr>
                                                <td>@vacation.FromDate.ToShortDateString()</td>
                                                <td>@vacation.ToDate.ToShortDateString()</td>
                                                <td>
                                                    @if (vacation.Status == ApprovalStatus.Approved)
                                                    {
                                                        <div class="badge badge-success">Одобрен</div>
                                                    }
                                                    else if (vacation.Status == ApprovalStatus.Disapproved)
                                                    {
                                                        <div class="badge badge-danger">Отхвърлен</div>
                                                    }
                                                    else
                                                    {
                                                        <div class="badge badge-warning">Изчакващ одобрение</div>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <p class="normal-text">Служителят все още няма отпуски</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
